.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 4px solid #007ACC;
  background-color: #F2F2F2;
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  animation: fadein 1s;
  }
  
  @keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
  }