.filterName {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto 1rem;
  align-items: center;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .filterLabel {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  align-items: center;
  font-size: 1rem;
  text-align: left;
  padding: 0.5rem 1rem;
  }
  
  .filterName span,
  .filterLabel span {
  margin-right: 0.5rem;
  }
  
  .filterName input,
  .filterLabel input {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
  background-color: #f0f0f0;
  }
  
  .filterName button,
  .filterLabel button {
  margin-left: 0.5rem;
  background-color: #007ACC;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  height: 36px;
  min-width: 100px;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  }
  
  .filterName button:hover,
  .filterLabel button:hover {
  background-color: #005A9C;
  transform: scale(1.05);
  }
  
  .filterName button:focus,
  .filterLabel button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px #007ACC;
  }