.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid #2a363b;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
  }
  
  .formLabel,
  .formName,
  .formNumber {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: left;
  font-size: 1.2rem;
  text-align: left;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  }
  
  .formLabel {
  font-weight: bold;
  color: #2a363b;
  }
  
  .formInput {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 6px;
  background-color: #f0f0f0;
  color: #2a363b;
  font-size: 1.1rem;
  }
  
  .formInput:focus {
  outline: none;
  border: 2px solid #007ACC;
  background-color: #ffffff;
  }
  
  .formBtn {
  margin-top: 2rem;
  background-color: #007ACC;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  height: 50px;
  min-width: 185px;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  }
  
  .formBtn:hover {
  background-color: #005A9C;
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Анимация */
  @keyframes fadeIn {
  0% {
  opacity: 0;
  transform: translateY(20px);
  }
  100% {
  opacity: 1;
  transform: translateY(0);
  }
  }
  
  .formLabel,
  .formInput,
  .formBtn {
  animation-name: fadeIn;
  animation-duration: 0.8s;
  }